<div class="container">
  {{!-- https://handlebarsjs.com/examples/builtin-helper-each-block.html --}}
  {{#each blogs}}
    <div class="blog">
      <a href="/blogpost/{{this.slug}}"><h2>{{this.title}}</h2></a>
    </div>
  {{/each}}
</div>